

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

#Intellij
/Encuesta_Sura/.gradle
/Encuesta_Sura/build
/Encuesta_Sura/.idea
/Encuesta_Sura/history
/Encuesta_Sura/out
/Encuesta_Sura/bin
/Encuesta_Sura/target
